<div class="body"  >
    <mat-card class="mat-card"   fxFlex="35" fxFlex.xs="100" fxFlex.md="90" fxFlex.sm="80" >
            <div  fxLayout="row" fxLayoutAlign="center">
                    <div class="img" fxLayout="row" fxLayoutAlign="center" fxHide.xs="true" >
                   <img src="/assets/img/note.svg" alt="FundooNote" >
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" >
                   <h2 style="color: indigo;">F</h2>
                   <h2 style="color: blue">u</h2>
                   <h2 style="color: rgb(184, 6, 35);">n</h2>
                   <h2 style="color: rgb(8, 85, 185);">d</h2>
                   <h2 style="color: palevioletred;">o</h2>
                   <h2 style="color: blueviolet;">o</h2>
                   <h2 style="color: rgb(69, 7, 121);">N</h2>
                   <h2 style="color: rgb(25, 202, 179);">o</h2>
                   <h2 style="color: rgb(158, 94, 204);">t</h2>
                   <h2 style="color: rgb(29, 27, 99);">e</h2>
                  </div>
                  </div>
                  <div class="heading" fxHide.xs="true">
                       <h4>Register</h4>
                  </div>

        

        <div  fxLayout="column" fxLayoutAlign="start start"  class="form-fields" >
            <div fxLayout="row" fxLayout.xs="row wrap"   fxLayout.sm="column wrap"  
            class="form-fields">
        <mat-form-field floatLabel="auto" appearance="outline"  >
            <mat-label>first name</mat-label>
            <input matInput placeholder="first-name"   name="firstName" 
            [formControl]="firstName">
            <mat-error *ngIf="firstName.invalid">{{getErrorFirstName()}}</mat-error>
            
        </mat-form-field>
        <mat-form-field floatLabel="auto" appearance="outline">
            <mat-label>last name</mat-label>
            <input matInput placeholder="last-name"  name="lastName" 
            [formControl]="lastName">
        <mat-error *ngIf="lastName.invalid">{{getErrorLastName()}}</mat-error>
        
        </mat-form-field>
    </div>

        <mat-form-field floatLabel="auto" appearance="outline">
                <mat-label>email-id</mat-label>
                <input matInput placeholder="email-id"   name="email" 
                [formControl]="email">
             <mat-error *ngIf="email.invalid">{{getErrorEmail()}}</mat-error>
            
    
            </mat-form-field>

        <mat-form-field floatLabel="auto" appearance="outline">
            <mat-label>contact</mat-label>
            <input matInput placeholder="contact"   name="contact" 
            [formControl]="contact" >
            <mat-error *ngIf="contact.invalid">{{getErrorContact()}}</mat-error>
        </mat-form-field>


   
        <div  fxLayout.xs="cloumn wrap"   fxLayout.lg="row wrap"  fxLayout.sm="row wrap"  
        class="form-fields">

        <mat-form-field floatLabel="auto" appearance="outline">
            <mat-label>password</mat-label>
            <input matInput placeholder="password"  name="password" [type]="hide ? 'password':'text' " 
            [formControl]="password">
            <button mat-icon-button matSuffix (click)="hide=!hide">
                    <mat-icon>{{hide ? 'visibility_off':'visibility'}}</mat-icon>
                  </button>
            <mat-error *ngIf="password.invalid">{{getErrorPassword()}}</mat-error>

        </mat-form-field>


        <mat-form-field floatLabel="auto" appearance="outline">
            <mat-label>confirm-password</mat-label>
            <input matInput placeholder="confirm-password" name="confirmpassword" 
             [type]="hide1 ? 'password':'text' " 
            [formControl]="confirmpassword">
            <button mat-icon-button matSuffix (click)="hide1=!hide1">
                <mat-icon>{{hide1 ? 'visibility_off':'visibility'}}</mat-icon>
                </button>
            <mat-error *ngIf="password.invalid">{{getErrorConfirmPassword()}}</mat-error>
        </mat-form-field>
    </div>
</div>

<div fxLayout="column" fxLayoutAlign="start stretch" >
        <mat-card-actions fxLayout.xs="row wrap">
                <button mat-raised-button color="primary" (click)="registerUser()"  >Register</button>
                <button mat-raised-button color="primary" (click)="loginRedirect()" >Login if already register</button>
    </mat-card-actions>
</div>
</mat-card>

  
</div>