



.icon{
    display: flex;
    justify-content: flex-start;
}


.img img{
    width: 40px;
    
    display: block;
   }


.imgMenu img{
    width: 70px;
    
    display: block;
   }

.icon{
    img{
        height: 25px;
        }
  
    
    
} 

.profile{
    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

// 



 mat-sidenav{
       display: flex;
       flex-direction: row;
       
        width:22%;
       

   }

mat-sidenav-container {
    height: 100%;
    background-color: rgba(192, 192, 235, 0);
    flex: 1;
}

.anchor {

    
        background-color: white; 
        border: none;
       
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        
        img{ 
        padding-right: 10%;
        }

       


}


.notediv{
    margin: 20px auto;
    width: 800px;
    border: 1px solid rgb(233, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
   
  
}



.small{
    margin-left: 20px;
}


   .search
{
    background-color: rgba(255, 248, 248, 0.856); 
     padding: 3px;   
     
     border-radius: 8px; 
     margin-left: 45px;
     margin-right: 30px;
  
     border: 1px solid rgb(233, 226, 226);
    
}

.input
{
         width: 85%; 
         font-size: 20px;
         border: none !important;
         background-color: rgba(255, 248, 248, 0.856); 
         outline: none;
         
}


.h2{
    color: rgb(112, 110, 110);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.h4{
    color: rgb(112, 110, 110);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
    justify-content: center;
    
}

mat-nav-list{

    button{
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}




  .mat-menu-panel.notifications-dropdown {
    max-width:none;
    width: 23vw; 
    margin-left: -8px;
    margin-top: 20px;
    overflow: hidden;
}




  .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
@media only screen and (max-width:599px)
{
    .sidenav-div {
        width: 37%;
    
    }
    
}










    
    







