



.icon{
    display: flex;
    justify-content: flex-start;
}


.img img{
    width: 40px;
    
    display: block;
   }


.imgMenu img{
    width: 70px;
    
    display: block;
   }

.icon{
    img{
        width: 25px;
        height: 25px;
        }
  
    
    
}   

// 



 mat-sidenav{
       display: flex;
       flex-direction: row;
       
        width:22%;
       

   }

mat-sidenav-container {
    height: 100%;
    background-color: rgba(192, 192, 235, 0);
    flex: 1;
}

a img{
    padding-right: 10%;
}


.notediv{
    margin: 20px auto;
    width: 800px;
    border: 1px solid rgb(233, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
   
  
}


.small{
    margin-left: 20px;
}


   .search
{
    background-color: rgba(255, 248, 248, 0.856); 
     padding: 3px;   
     width: 98%; 
     border-radius: 8px; 
     margin-left: 45px;
    
}

.input
{
         width: 85%; 
         font-size: 20px;
         border: none !important;
         background-color: rgba(255, 248, 248, 0.856); 
         outline: none;
         
}


.h2{
    color: rgb(112, 110, 110);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.h4{
    color: rgb(112, 110, 110);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    justify-content: center;
    
}




  .mat-menu-panel.notifications-dropdown {
    max-width:none;
    width: 22vw; 
    margin-left: -8px;
    margin-top: 20px;
    overflow: visible;
}










    
    







