<div class="body">
    <div class class="mat-card" fxLayout="row" fxLayoutAlign="start center" >
       
       
        
       
        <div style="padding: 15px; " fxLayout="row"  fxLayoutAlign="center center" fxLayoutGap="20px" >
               
            <mat-icon class="icon" (click)="sidenav.toggle()">dehaze</mat-icon>
              <div fxLayout="row"  fxLayoutAlign="center center" fxLayoutGap="10px" > 
            <div class="img" fxLayout="row" fxLayoutAlign="center">
                <img src="/assets/img/keepnote.svg" alt="FundooNote">
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
                <h2>Fundoo</h2>
            </div>
        </div> 
        </div>
       
  

        <div fxLayout="row" fxLayoutAlign="center center" fxFlex.xs="40" fxFlex="60" class="search">
              
                  <button mat-icon-button fxHide.xs="true">
                    <mat-icon>search</mat-icon>
                  </button>
                  <input matTooltip="Search"  class="input" placeholder="Search" >
                  <button mat-icon-button fxHide.xs="true">
                        <mat-icon>clear</mat-icon>
                </button>
        </div>

    
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px" style="padding: 15px;  ">
        <div>
            <mat-icon>refresh</mat-icon>
        </div>

        <div>
           <mat-icon>drag_handle</mat-icon>
        </div>

        <div>
                <mat-icon>settings</mat-icon>
            </div>
    </div> 



    <div fxLayout="row" fxLayoutAlign=" center"   fxLayoutGap="20px"  style="margin-left: 25px;" >
        
            <div >
                    <mat-icon>dialpad</mat-icon>
                </div>
        <div class="radius">
            <mat-icon>account_box</mat-icon>
        </div>
    </div> 
        
  </div>

    
</div>
<mat-divider></mat-divider>


<mat-sidenav-container class="mat-sidenav">
        <mat-sidenav  #sidenav mode="side" [(opened)]="opened" fxLayout="column" >
        <mat-nav-list>
        
        <a mat-list-item >Fundoo</a>
        <a mat-list-item>Reminders</a>
        </mat-nav-list>
        <hr>
        </mat-sidenav>
    
 </mat-sidenav-container>