

<mat-toolbar style="position: inherit;">


 


  <div  fxLayout="row"   fxFlex.xs="30">
    <button mat-icon-button matTooltip="Main menu">
      <mat-icon class="icon" (click)="sidenav.toggle()" style="color: rgb(75, 72, 72);">menu</mat-icon>
    </button>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="img" fxLayout="row" fxLayoutAlign="center" fxHide.xs="true" >
        <img src="/assets/img/keepnote.svg" alt="FundooNote">
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <h2 class="h2">Fundoo</h2>
      </div>
    </div>
  </div>



  <div fxLayout="row" fxFlex.xs="20" fxFlex="70" class="search">

    <button mat-icon-button matTooltip="Search" fxHide.xs="true" >
      <mat-icon>search</mat-icon>
    </button>
    <div style="width: 100%;">
    <input matTooltip="Search bar" [matAutocomplete]="auto" [formControl]="search" class="input" 
    placeholder="Search" name="search" fxHide.xs="true"   (click)="activate()" 
    (input)="searchByTitleDescription($event.target.value)">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
      <mat-option *ngFor="let note of filteredOptions | async " [value]="note" fxHide.xs="true">
        {{note.title}}
      </mat-option>
    </mat-autocomplete>
  </div>
    <button  mat-icon-button  matTooltip="Clear search" fxHide.xs="true" (click)="closeSearch()">
      <mat-icon>clear</mat-icon>
    </button>


  </div>


  <div fxLayout="row" fxFlex.xs="20" fxLayoutAlign="center" >
    <div >
      <button mat-icon-button matTooltip="Refresh">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <div class="icon" *ngIf="!showView"  fxHide.xs="true">
      <button mat-icon-button matTooltip="Grid view" (click)="view();changeView()">
        <img src="/assets/img/listview.svg" alt="List view">
      </button>
    </div>

    <div class="icon" *ngIf="showView"  fxHide.xs="true">
      <button mat-icon-button matTooltip="List view" (click)="view();changeView()">
        <img src="/assets/img/gridview.svg" alt="Grid view">
      </button>
    </div>



    <div class="icon">
      <button mat-icon-button matTooltip="Settings">
        <img src="/assets/img/setting.svg" alt="settings">
      </button>
    </div>
  </div>



  <div fxLayout="row" fxLayoutAlign=" center"  style="margin-left: 2%;">


    <div class="profile" [matMenuTriggerFor]="menu">
      <img  [src]="profilePic" *ngIf="profilePic; else default"  matTooltip="Profile">
     
    </div>
  </div>




</mat-toolbar>
<mat-divider></mat-divider>



<mat-sidenav-container class="mat-sidenav ">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" fxLayout="column" class="sidenav-div" >
    <mat-nav-list >

      <!-- (click)="changeScreen('home')" -->
      <button  mat-list-item  [routerLink]="['/dashboard/note']"  class="anchor"
      [ngStyle]="{'background-color': typeOfNote === 'note' ? '#feefc3' : '#fff'}" >
        <img src="/assets/img/notesidenav.svg" alt="Notes">
        Notes</button>
      <button mat-list-item [routerLink]="['/dashboard/reminder']"  [ngStyle]="{'background-color': typeOfNote === 'reminder' ? '#feefc3' : '#fff'}"   class="anchor" (click)="getNotesByReminder()">
        <img src="/assets/img/remindersidenav.svg" alt="Reminders">

        Reminders</button>


      <hr>
      <small class="small">LABELS</small>

      <button mat-list-item   *ngFor="let label of labels" class="anchor" 
      [ngStyle]="{'background-color': typeOfNote == label.labelId ? '#feefc3' : '#fff'}"
      (click)="getNotesByLabel(label)" >
        <img src="/assets/img/label.svg" alt="Label">
        {{label.name}} 
      </button>

    


    <button mat-list-item  (click)="openDialogLabel()" class="anchor" >
    <img src="assets/img/editlabels.svg" alt="">
    <span >Edit labels</span></button>




      <hr>
      <!-- (click)="changeScreen('archive')" -->
      <button mat-list-item  [routerLink]="['/dashboard/archive']" 
        class="anchor"  [ngStyle]="{'background-color': typeOfNote === 'archive' ? '#feefc3' : '#fff'}"
        >
        <img src="/assets/img/archivenav.svg" alt="Archive">
        Archive</button>

        <!-- (click)="changeScreen('trash')" -->
      <button mat-list-item [routerLink]="['/dashboard/trash']"  class="anchor"
      [ngStyle]="{'background-color': typeOfNote === 'trash' ? '#feefc3' : '#fff'}">
        <img src="/assets/img/trash.svg" alt="Trash">
        Trash</button>

    </mat-nav-list>


  </mat-sidenav>


  <mat-sidenav-content>
    <app-addnote *ngIf="!searchActive"></app-addnote>
    <app-notes [view]="viewLayout"  [labelIdParam]="labelIdParam" >
     </app-notes>
    
  </mat-sidenav-content>
 

  <!-- <router-outlet></router-outlet> -->




</mat-sidenav-container>



<mat-menu #menu="matMenu" class="notifications-dropdown">


  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" style="width:100%; ">
    <div class="imgMenu" style="position: relative;">
      <img style=" border-radius: 50%;  width:100px; height: 100px;"
       [src]="profilePic" alt="user" *ngIf="profilePic; else default">
      <img style="width: 25px; height: 25px;" src="/assets/img/camera.svg" alt="user" (click)="openUploadDialog()">
       
     
    </div >
   
   
    <h4 class="h4">{{email}}</h4>
    <button mat-button routerLink="/login"> <svg class="gb_wb" enable-background="new 0 0 24 24" focusable="false"
        height="20" viewBox="0 0 24 24" width="20" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <path
          d="M9 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0-6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm0 7c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4zm6 5H3v-.99C3.2 16.29 6.3 15 9 15s5.8 1.29 6 2v1zm3-4v-3h-3V9h3V6h2v3h3v2h-3v3h-2z">
        </path>
      </svg>
      Add another account</button>
    <button mat-raised-button (click)="signOut()">Sign out</button>
  </div>

</mat-menu>


<ng-template #default>
  <img src="/assets/img/user.svg" >
</ng-template>

