   <div class="body" >

        <mat-card  class="mat-card"   fxFlex="40" fxFlex.xs="95" fxFlex.md="90"  fxFlex.sm="80">
          <div  fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px"  >
            <div class="img" fxLayout="row" fxLayoutAlign="center" >
           <img src="/assets/img/note.svg" alt="FundooNote">
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
           <h2 style="color: indigo;">F</h2>
           <h2 style="color: blue">u</h2>
           <h2 style="color: rgb(184, 6, 35);">n</h2>
           <h2 style="color: rgb(8, 85, 185);">d</h2>
           <h2 style="color: palevioletred;">o</h2>
           <h2 style="color: blueviolet;">o</h2>
           <h2 style="color: rgb(69, 7, 121);">N</h2>
           <h2 style="color: rgb(25, 202, 179);">o</h2>
           <h2 style="color: rgb(158, 94, 204);">t</h2>
           <h2 style="color: rgb(29, 27, 99);">e</h2>
          </div>
          </div>
          <div class="heading">
               <h4>Login</h4>
          </div>
          <div  fxLayout="column" fxLayoutAlign="start start"  class="form-fields" >
            
              <mat-form-field floatLabel="auto" appearance="outline"  fxLayout="column" fxLayoutAlign="start stretch"    >
                  <mat-label>email-id</mat-label> 
                  <input matInput   
                  name="email"  type="email"  class="form-control" 
                  [formControl]="email">
                 
              <mat-error *ngIf="email.invalid">{{getErrorEmail()}}</mat-error>
                  
          </mat-form-field>
        
              <mat-form-field floatLabel="auto" appearance="outline"  fxLayout="column" fxLayoutAlign="start stretch" >
                      <mat-label>password</mat-label> 
                     <input matInput   name="password" [type]="hide ? 'password':'text' "
                     [formControl]="password">
                     <button mat-icon-button matSuffix (click)="hide=!hide">
                       <mat-icon>{{hide ? 'visibility_off':'visibility'}}</mat-icon>
                     </button>
                   
                     <mat-error *ngIf="password.invalid">{{getErrorPassword()}}</mat-error>
                    
                </mat-form-field>
               
          </div>
          <div fxLayout="column" fxLayoutAlign="start stretch">
              <mat-card-actions>
                  <button mat-raised-button color="primary" (click)="loginUser()" fxLayoutGap="20px">Login</button>
                  <button mat-raised-button color="primary" (click)="registerRedirect()">Register
        
                  </button>
                  <small id=info3 (click)="forgotpasswordRedirect()">Forgot Password?</small>
               </mat-card-actions>
          </div>
       
        </mat-card>
  
      </div>
      