

textarea{
    border: none;
    padding: 8px;
    margin: 5px ;
    
    font-style: normal;
    outline: none;
    overflow: hidden;
    background-color: transparent;
    
    width: 96%;
    
    
    }


    .mat-standard-chip{
        min-height: 20px;
    }

    .image{
        padding-top: 5px;
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }

  


    


    