<div class="notes-container" fxLayout="row wrap" fxFlexWrap.xs="column" fxLayoutAlign="center center">
    <div class="notes" *ngFor="let note of notes">
        <mat-card  [ngStyle]="{'background-color': note.noteColor}">
            <div (click)="openDialog(note)">
                <p> {{ note.title }}</p>
            </div>
            <div id="card-title" (click)="openDialog(note)">
                <p> {{ note.description }}</p>
            </div>
            <div id="hoverIcons">
                <app-icon  (messageEvent)="receiveColor($event,note.noteId)" ></app-icon>
            </div>
            
        </mat-card>

    </div>
</div>
