$border-color: rgb(175,175,175);
.notes-container {
    margin-top: 30px;
  
    margin-bottom: 100px;
   
    }
    
    .notes #hoverIcons{
    display: none;
    position: absolute;
    }
    
    .notes:hover #hoverIcons{
    display: flex;
    width: 80%;
    justify-content: space-between;
    
    
    }
    
    .notes {
    margin: 5px;
    
    }
    
    
    
    p {
    font-weight: 100;
    word-break: break-all;
    }
    
    #card-title {
    padding-bottom : 10px;
    }


   
.div-container{
   
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
    border-top: 1px solid #919191;
    border-left: 1px solid #919191;
    border-right: 1px solid #919191;

    div{
        margin:10px;
    }

   
}

.small-card{
    border: 1px solid $border-color;
    border-radius: 10px;
    margin: 5px;
    word-break: break-all;
}


mat-card{
    width: 22vw;
}


@media only screen and (max-width:599px)
{
   
 

    mat-card {
        width: 45vw;
        
    
    }
    
}

