<div class="notes-container" fxLayout={{view}} fxFlexWrap.xs="column" fxLayoutAlign="center center">
    <div class="notes" *ngFor="let note of notes">
        <mat-card [ngStyle]="{'background-color': note.noteColor}">
            <div (click)="openDialog(note)">
                <p> {{ note.title }}</p>
            </div>
            <div id="card-title" (click)="openDialog(note)">
                <p> {{ note.description }}</p>
            </div>
            <div fxLayout="row wrap">

                <div *ngIf="note.reminder">
                    <mat-chip-list #chipList>
                        <mat-chip [selectable]="selectable" [removable]="removable" [matMenuTriggerFor]="reminder" (removed)="removeReminder(note)" 
                       >

                            {{note.reminder | date:'M/d, h:mm a'}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                    <mat-menu #reminder="matMenu" >
                        <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"  [(ngModel)]="datetime" placeholder="Date time">
                      
                        <owl-date-time #dt1></owl-date-time>
                         <button mat-button  (click)="addReminder(datetime, note.noteId)">save</button>
                      </mat-menu>
                </div>
                <div *ngIf="note.labels" fxLayout="row wrap">
                    <mat-chip-list #chipList *ngFor="let label of note.labels">
                        <mat-chip [selectable]="selectable" [removable]="removable" (removed)="removeLabel(label.labelId ,note.noteId)">

                            {{label.name}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>

            </div>



            <div>
                <app-icon (messageEvent)="receiveMessage($event,note)" [noteId]="note.noteId" ></app-icon>
            </div>

        </mat-card>

    </div>

</div>