<div fxLayoutAlign="space-evenly center" >
<div class="notes-container"   >
    <mat-grid-list cols="3" rowHeight="150px" gutterSize="10px" >
        <mat-grid-tile *ngFor="let note of notes" class="mat-grid-tile">
            <mat-card class="note hoverWrapper">
                <div style="padding-bottom: 10px;" (click)="openDialog(note)">

                  {{note.title}} 
                </div>
                <div style="padding-bottom: 10px;"  (click)="openDialog(note)" >
                    {{note.description}}
                </div>
               

               <div id="hoverShow">
                <app-icon  ></app-icon>
               </div>
                    
                
            
                




            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</div>
</div>


