<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card >
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon> table_chart </mat-icon>
            </div>
            <mat-card-title>FundooNote </mat-card-title>
        </mat-card-header>

        <h4>Setpassword  </h4>

        <mat-card-content >
        <mat-form-field floatLabel="auto" appearance="outline">
            <mat-label>set-password</mat-label>
            <input matInput placeholder="set-password"  value="password" type="password" 
            formControlName="password"
            [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}">
            <mat-error *ngIf="form.get('password').touched && form.get('password').invalid">
                    <div *ngIf="form.get('password').errors.required">Password  is required</div>
                    <div *ngIf="form.get('password').errors.minlength">Password should be greater than 3</div>
            </mat-error>
        </mat-form-field>


        <mat-form-field floatLabel="auto" appearance="outline">
            <mat-label>confirm-password</mat-label>
        <input matInput placeholder="confirm-password" [(ngModel)]="passwordData.confirmPassword" 
              type="password" 
            formControlName="password"
            [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}">
            <mat-error *ngIf="form.get('password').touched && form.get('password').invalid">
                    <div *ngIf="form.get('password').errors.required">Password  is required</div>
                    <div *ngIf="form.get('password').errors.minlength">Password should be greater than 3</div>
            </mat-error>
        </mat-form-field>
   </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="setPassword()">Set password</button>
            
        </mat-card-actions>
    </mat-card>
</div>

