/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: hidden;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



@import "~ng-pick-datetime/assets/style/picker.min.css";


.myapp-no-padding-dialog .mat-dialog-container {
    padding: 0;
    overflow: hidden;
   
  }

  .dialog-collaborator-padding .mat-dialog-container {
    padding: 5px;
    overflow: hidden;
  }
