<div >
<div fxLayout="column" fxLayoutAlign="start center"  >
    <mat-card fxLayout="row" fxLayoutAlign=" center" class="create-note" *ngIf="showContent">
        <textarea cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1" (click)="showHidddenContent()" placeholder="Take a note..."></textarea>
    </mat-card>


    <mat-card *ngIf="!showContent && showCollab"   class="create-note" fxFlex.xs="30" fxLayout="column"  [ngStyle]="{'background-color': noteColor}">

        <div fxLayout="row"><textarea  cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            placeholder="Title"  style="font-size: 18px;"[formControl]="title">
           
        </textarea>
        <button mat-icon-button matTooltip="Pin note" (click)="pinNote()" *ngIf="pinShow">
            <img style="width: 25px; height: 25px;" src="/assets/img/pin.svg" alt="Pin" >
        </button>
        <button mat-icon-button  matTooltip="Unpin note" (click)="pinNote()" *ngIf="!pinShow">
                <img style="width: 25px; height: 25px;" src="/assets/img/unpin.svg" alt="Pin" >
            </button>
          
        </div>
        <div><textarea  cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" placeholder="Take a note..." [formControl]="description" ></textarea>
        </div>
        <div fxLayout="row wrap">
        <div *ngIf="reminder" >
            <mat-chip-list #chipList>
            <mat-chip [selectable]="selectable" [removable]="removable" (removed)="removeReminder()">
      
            {{reminder | date:'M/d, h:mm a'}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            </mat-chip-list>
        </div>
        <div *ngIf="labels" fxLayout="row wrap" >
            <mat-chip-list #chipList *ngFor="let label of labels ; index as i">
            <mat-chip [selectable]="selectable" [removable]="removable" (removed)="removeLabels(i)">
      
            {{label.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            </mat-chip-list>
        </div>
    </div>
        

       <div fxLayout="row" fxLayoutAlign="space-between" >

        <div style="width: 60%;" >
        <app-icon (messageEvent)="receiveMessage($event)"  [noteData]=""></app-icon>
        </div>

       
        <div class="create-note-close-button" style="margin-top: 5px;" >
            <button mat-button (click)="showHidddenContent()" (click)="createNote()">Close</button>
        </div>
    </div>
    </mat-card>
 <!-- --------------------------- -->
    <mat-card *ngIf="!showCollab"    class="create-note" fxFlex.xs="30" fxLayout="column" >
        <h2>Collaborators</h2>
    <hr>
    <div fxLayout="row" class="owner">
            <img [src]="ownerProfilePic" *ngIf="ownerProfilePic; else default" matTooltip="Owner profile photo">
    
            <h4 style="padding-left: 10px;">{{emailId}} </h4>
            <p style="padding-left: 10px;">(Owner)</p>
    
    
    </div>
    <div fxLayout="row" class="collab" *ngFor="let collaborator of collaborators; index as i">
        <img *ngIf="collaborator.profilePic; else default"  [src]="collaborator.profilePic"   matTooltip="Collaborator profile photo ">
            <div  fxLayout="row" style="width: 100%;" fxLayoutAlign="space-between center"  >
                            <p style="padding-left: 10px;">{{collaborator.email}}</p>
                            <button mat-icon-button matTooltip="Remove collaborator" (click)="removeCollaborator(i)">
                                    <mat-icon>clear</mat-icon>
                            </button>
            </div>
           
    </div>

    <div fxLayout="row" class="addCollab">
            <img src="/assets/img/collaborator.svg" matTooltip="Add collaborators">
            <input placeholder="Person or email to share with" [formControl]="collaboratorEmailId">
            <button mat-icon-button matTooltip="Add collaborator" (click)="addCollaborator()">
            <mat-icon>done</mat-icon>
            </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" >
        <h3 (click)="showCollabContent()">Close</h3>
    </div>
    
    </mat-card>


</div>

<!-- --------------------------------------------------------------------------------------- -->
        

</div>





<ng-template #default >
    <img src="/assets/img/user.svg"  matTooltip="Collaborator profile photo " >
</ng-template>





