







.create-note{
  
    justify-content: center;
    
    width: 49%;
   
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    margin-top:25px;
    padding-bottom: 10px;
    border: rgb(175, 175, 175) 1px solid;
    border-radius: 10px;
    color: rgb(151, 151, 151);
    overflow: visible;

    input
    {
             width: 100%; 
             font-size: 20px;
             border: none !important;
             background-color: rgba(255, 248, 248, 0.856); 
             outline: none;
             margin-top: 7px;
             
    }
    
    textarea{
    border: none;
    padding-top: 8px;
    margin: 5px ;
    
    font-style: normal;
    outline: none;
    background-color: transparent;
    
    
    width: 96%; 
    }
    .create-note-menu{
    margin-left: 5px;
    margin-right: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

   

    img{
    width: 20px;
    height: 20px;
    }
    
    }
    .create-note-close-button{
    display: flex;
    justify-content: flex-end;
    color: black;
    }
    }

    .mat-standard-chip{
        min-height: 20px;
    }



.owner{
  img{
 
      width: 40px;
      height: 40px;
      border-radius: 50%;
      
  }
}

.addCollab{
  img{
      width: 40px;
      height: 40px;
     
      }
}


.collab{
  img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      }


}

.collaborator{
  input
{
         width: 100%; 
         font-size: 20px;
         border: none !important;
         background-color: rgba(255, 248, 248, 0.856); 
         outline: none;
         margin-top: 7px;
         
}
}



    @media only screen and (max-width:599px)
  {
    .create-note{
      
    width: 80%;
    }
    
}
    

  
 
    


