<div >
<div fxLayout="column" fxLayoutAlign="start center"  >
    <mat-card fxLayout="row" fxLayoutAlign=" center" class="create-note" *ngIf="showContent">
        <textarea cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1" (click)="showHidddenContent()" placeholder="Take a note..."></textarea>
    </mat-card>


    <mat-card *ngIf="!showContent" class="create-note" fxFlex.xs="30" fxLayout="column"  [ngStyle]="{'background-color': noteColor}">

        <div fxLayout="row"><textarea  cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            placeholder="Title"  style="font-size: 18px;"[formControl]="title">
           
        </textarea>
        <button mat-icon-button matTooltip="Pin note" (click)="pinNote()">
            <img style="width: 25px; height: 25px;" src="/assets/img/pin.svg" alt="Pin" >
        </button>
          
        </div>
        <div><textarea  cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" placeholder="Take a note..." [formControl]="description" ></textarea></div>

<div fxLayout="row" fxLayoutAlign="space-between" >

        <div style="width: 60%;" >
        <app-icon (messageEvent)="receiveColor($event)" ></app-icon>
        </div>

       
        <div class="create-note-close-button" style="margin-top: 10px;" >
            <button mat-button (click)="showHidddenContent()" (click)="createNote()">Close</button>
        </div>
    </div>
    </mat-card>
</div>


        <app-notes></app-notes>

</div>






