
<div class="notes-container" fxLayout={{view}} fxFlexWrap.xs="column" fxLayoutAlign="center center">
        
    <div class="notes" *ngFor="let note of notes">
        <mat-card [ngStyle]="{'background-color': note.noteColor}">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <p (click)="openDialog(note)" > {{ note.title }}</p>
                <button mat-icon-button matTooltip="Unpin note" (click)="pinNote(note.noteId)">
                        <img style="width: 25px; height: 25px;" src="/assets/img/unpin.svg" alt="Unpin" >
                    </button>
            </div>
            
            <div id="card-title" (click)="openDialog(note)">
                <p> {{ note.description }}</p>
            </div>
            <div fxLayout="row wrap">

                <div *ngIf="note.reminder">
                    <mat-chip-list #chipList>
                        <mat-chip [selectable]="selectable" [removable]="removable" [matMenuTriggerFor]="reminder" (removed)="removeReminder(note)" 
                       >

                            {{note.reminder | date:'M/d, h:mm a'}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                    <mat-menu #reminder="matMenu" >
                      
                        <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"  [(ngModel)]="datetime" placeholder="Select date and time">
                        
                        <owl-date-time #dt1 ></owl-date-time>
                         <button mat-button  (click)="addReminder(datetime, note.noteId)">save</button>
                      </mat-menu>
                     
                </div>
                <div *ngIf="note.labels" fxLayout="row wrap">
                    <mat-chip-list #chipList *ngFor="let label of note.labels">
                        <mat-chip [selectable]="selectable" [removable]="removable" (removed)="removeLabel(label,note.noteId)">

                            {{label.name}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>

                <div>
                   <img [src]="profilePicCollab" *ngIf="profilePicCollab"  >
                </div>

            </div>
            <div fxLayout="row">
                    <div  *ngFor="let collaborator of note.collaborators" class="image" matTooltip="{{collaborator.email}}">
                            <img *ngIf="collaborator.profilePic; else default"  [src]="collaborator.profilePic"   >
                    </div>
            </div>


            <div>
                <app-icon (messageEvent)="receiveMessage($event,note)" [noteData]="note"  ></app-icon>
            </div>

        </mat-card>

    </div>

</div>

<ng-template #default>
        <img src="/assets/img/user.svg" >
</ng-template>


