
input
{
         width: 100%; 
         font-size: 20px;
         border: none !important;
         background-color: rgba(255, 248, 248, 0.856); 
         outline: none;
         margin-top: 7px;
         
}


// .conatiner{
//     margin: 10px
// }