<div class="conatiner"  >
    <div>
        <p>Edit labels</p>
    </div>


    <div fxLayout="row">
        <div>
            <button mat-icon-button matTooltip="Cancel">
                <mat-icon>clear</mat-icon>
            </button>
        </div>

        <div>
            <input [formControl]="name">
        </div>
        <div>
            <button mat-icon-button matTooltip="Create label" (click)="createLabel()">
                <mat-icon>done</mat-icon>
            </button>
        </div>
    </div>

    <div fxLayout="row" *ngFor="let label of labels">
        <div>
            <button mat-icon-button  (click)="deleteLabel(label.labelId)">

                    <img src="/assets/img/sidenav/label.svg"    
                    onmouseover="this.src='/assets/img/sidenav/delete.svg'" 
                    onmouseout="this.src='/assets/img/sidenav/label.svg'" alt="Delete label" >
                   
            </button>
          


        </div>
        <div style="align-items: center;">
            <input value="{{label.name}}" [formControl]="updatedName" name="updatedName">
        </div>
        <div>
            <button mat-icon-button matTooltip="Rename label" (click)="updateLabel(label.labelId)">
                <mat-icon>create</mat-icon>
            </button>
        </div>

    </div>

    <hr>
    <div>
        <button mat-button  style="float: right;" (click)="onNoClick()">Done</button>
    </div>
</div>