<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card >
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon> table_chart </mat-icon>
            </div>
            <mat-card-title>FundooNote </mat-card-title>
        </mat-card-header>

        <h4>Frogot password </h4>

        <mat-card-content [formGroup]='form'>
        <mat-form-field floatLabel="auto" appearance="outline">
            <mat-label>email-id</mat-label>
            <input matInput placeholder="email-id" [(ngModel)]="email" value="email" 
            formControlName="email"
        [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}">
        <mat-error *ngIf="form.get('email').touched && form.get('email').invalid">
                <div *ngIf="form.get('email').errors.required">Email is required</div>
                <div *ngIf="form.get('email').errors.email">Email format worng</div>
            </mat-error>
        </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="forgotPasswordUser()">Send email for resetting password</button>
            <button mat-raised-button color="primary" (click)="loginRedirect()">Login</button>
        </mat-card-actions>
    </mat-card>
</div>
