
.owner{
    img{
   
        width: 40px;
        height: 40px;
        border-radius: 50%;
        
    }
}

.addCollab{
    img{
        width: 40px;
        height: 40px;
       
        }
}



input
{
         width: 100%; 
         font-size: 20px;
         border: none !important;
         background-color: rgba(255, 248, 248, 0.856); 
         outline: none;
         margin-top: 7px;
         
}

