.create-note-menu{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    img{
    width: 20px;
    height: 20px;
    }
    

    }     
        .create-note-close-button{
        display: flex;
        justify-content: flex-end;
        color: black;
        }

