
    <div class="create-note-icon" fxLayout="row" fxLayoutAlign="space-around center"  *ngIf="!trash" >
        <span   matTooltip="Remind me" [matMenuTriggerFor]="reminder" > <img src="/assets/img/remindme.svg" alt="Remind me" ></span>
        <span  matTooltip="Collaborator"  (click)="onChange('collaborator')"> <img src="/assets/img/collaborator.svg" alt="Collaborator" ></span>
        <span matTooltip="Change color" [matMenuTriggerFor]="color"> <img src="/assets/img/changecolor.svg" alt="Change color" ></span>
        <span  matTooltip="Archive"  *ngIf="!unarchive" (click)="onChange('archive')"> <img src="/assets/img/archive.svg" alt="Archive" ></span>
        <span  matTooltip="Unarchive" *ngIf="unarchive" (click)="onChange('unarchive')"> <img src="/assets/img/unarchive.svg" alt="Archive" ></span>
        <span  mat-button [matMenuTriggerFor]="more" matTooltip="More"> <img src="/assets/img/more.svg" alt="More" ></span>

    </div>

    <div *ngIf="trash"  class="create-note-icon" fxLayout="row" fxLayoutAlign="space-around center">
      <span matTooltip="Delete forever" (click)="onChange('deleteforever')" ><img src="/assets/img/deleteforever.svg" alt="deleteforever" ></span>
      <span matTooltip="Restore" (click)="onChange('restore')"><img src="/assets/img/restore.svg" alt="restore" ></span>
    </div>

   
<mat-menu #more="matMenu"  >
  <button mat-menu-item (click)="onChange('delete')" *ngIf="!showAddLabel" >Delete note</button>
  <button mat-menu-item   *ngIf="!showAddLabel" (click)="showAddLabels($event)"    >Add label</button>
  <div *ngIf="showAddLabel" fxLayout="column" style="margin-left: 5px;" (click)="$event.stopPropagation()" >
    <div fxLayoutAlign="start center">
        <p>Label note</p>
    </div>
     
    <div *ngFor="let label of labels">
        <mat-checkbox (click)="onChange(label)" >{{label.name}}</mat-checkbox>
    </div>
   </div>  
    
</mat-menu>

<mat-menu #reminder="matMenu" >
  <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [(ngModel)]="datetime" placeholder="Select date and time">

  <owl-date-time #dt1></owl-date-time>
   <button mat-button (click)="onChange(datetime )">save</button>
</mat-menu>

<mat-menu #color="matMenu" >
   
    <button mat-mini-fab style="background-color: #ffffff;" matTooltip="Default" (click)="onChange('#ffffff')"></button>
    <button mat-mini-fab style="background-color: #f06060;" matTooltip="Red" (click)="onChange('#f06060')"></button>
    <button mat-mini-fab style="background-color: #e9a831;" matTooltip="Orange" (click)="onChange('#e9a831')"></button>
    <button mat-mini-fab style="background-color: #ecec57;" matTooltip="Yellow" (click)="onChange('#ecec57')"></button>
    <br>
    <button mat-mini-fab style="background-color: #78f578;" matTooltip="Green" (click)="onChange('#78f578')"></button>
    <button mat-mini-fab style="background-color: #6fe2cf;" matTooltip="Teal" (click)="onChange('#6fe2cf')"></button>
    <button mat-mini-fab style="background-color: #8fe9f5;" matTooltip="Blue" (click)="onChange('#8fe9f5')"></button>
    <button mat-mini-fab style="background-color: #73ade2;" matTooltip="Dark blue" (click)="onChange('#73ade2')"></button>
    <br>
    <button mat-mini-fab style="background-color: #e286e2;" matTooltip="Purple" (click)="onChange('#e286e2')"></button>
    <button mat-mini-fab style="background-color: #dd99a4;" matTooltip="Pink" (click)="onChange('#dd99a4')"></button>
    <button mat-mini-fab style="background-color: #d3cccd;" matTooltip="Brown"(click)="onChange('#d3cccd')"></button>
   
 </mat-menu>


