
    <div class="create-note-menu" >
        <span class="tooltip"> <img src="/assets/img/remindme.svg" alt="Remind me" ><span class="tooltiptext">Remind me</span></span>
        <span class="tooltip"> <img src="/assets/img/collaborator.svg" alt="Collaborator" ><span class="tooltiptext">Collaborator</span></span>
        <span class="tooltip"> <img src="/assets/img/changecolor.svg" alt="Change color" ><span class="tooltiptext">Change color</span></span>
        <span class="tooltip" > <img src="/assets/img/archive.svg" alt="Archive" ><span class="tooltiptext">Archive</span></span>
        <span class="tooltip"> <img src="/assets/img/more.svg" alt="More" ><span class="tooltiptext">More</span></span>

    </div>