.create-note-icon{
  
    margin-top: 10px;
    

    position: relative;
   
    img{
    width: 20px;
    height: 20px;
    }
    

    } 
    
    input{
        margin-top: 15px;
        border: none;
        overflow: hidden;
        outline: none;
    }
    

  
    





